<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CSharpTutorial</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lesson1">
                <span class="bi bi-1-circle-nav-menu" aria-hidden="true"></span> Lesson 1: Hello World
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lesson2">
                <span class="bi bi-2-circle-nav-menu" aria-hidden="true"></span> Lesson 2: Variables
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lesson3">
                <span class="bi bi-3-circle-nav-menu" aria-hidden="true"></span> Lesson 3: Control Flow
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lesson4">
                <span class="bi bi-4-circle-nav-menu" aria-hidden="true"></span> Lesson 4: Arrays
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lesson5">
                <span class="bi bi-5-circle-nav-menu" aria-hidden="true"></span> Lesson 5: Collections
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lesson6">
                <span class="bi bi-6-circle-nav-menu" aria-hidden="true"></span> Lesson 6: OOP Basics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lesson7">
                <span class="bi bi-7-circle-nav-menu" aria-hidden="true"></span> Lesson 7: OOP Advanced
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lesson8">
                <span class="bi bi-8-circle-nav-menu" aria-hidden="true"></span> Lesson 8: Exceptions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="game">
                <span class="bi bi-controller-nav-menu" aria-hidden="true"></span> Number Game
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
